/* 전체 포지션 */
.container {
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  border: 1px solid red;
}
/* 로고 이미지 */
.container > .member-logo {
  width: 180px;
  height: 150px;
  margin: auto;
  display: block;
  background-image: url(/개인/img/snoman\ 무배경.png);
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  border: 1px solid;
}
/* 로그인 컨텐츠 */
.container > .content {
  display: block;
  text-align: center;
  border: 1px solid;
}
.container > .content > .login-text {
  height: 30px;
  text-align: center;
  font-size: 3rem;
  border: 1px solid blue;
}
.container > .content > form > .login-box1 {
  position: relative;
  width: 400px;
  height: 200px;
  margin: auto;
  border: 1px solid;
  border-radius: 10px;
}
.container > .content > form > .login-box1 > .login-box2 {
}
.container > .content > form > .login-box1 > .login-box2 > .input-id {
  border: 1px solid;
  width: 300px;
}
.container > .content > form > .login-box1 > .login-box2 > .input-pw {
  border: 1px solid;
  width: 300px;
}
.container > .content > form > .login-box1 > .login-btn-wrap {
  border: 1px solid;
}
.container > .content > form > .login-box1 > .login-btn-wrap > .login-btn {
  border: 1px solid;
}
/* 로그인 아래 */
.container > ul {
  padding: 15px 15px;
  margin: 0;
  display: block;
  text-align: center;
  border: 1px solid green;
}
.container > ul > li {
  position: relative;
  display: inline-block;
  border: 1px solid;
  margin: 0;
}
/* 비번 아이디 조건 */
